<div class="local">
  this uses local styles
</div>
<hr>
<div class="subtree">
  this uses styles borrowed from the subtree

  <span class="subtree_css">
    this with css
  </span>

  <span class="subtree_scss">
    this with scss
  </span>
</div>
